name: log

on:
  pull_request_target:
    types: [opened]

jobs:
  log:    
    name: log event
    runs-on: ubuntu-latest
    steps:
    - name: log github context
      env:
        GITHUB_CONTEXT: ${{ toJson(github) }}
      run: |
        echo "$GITHUB_CONTEXT"